body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: left;
    margin-top: 10%;
}

#content {
    clear: both;
    display: inline-block;
    float: right;
    position: absolute;
    margin-left: auto;
    margin-right: auto

}

header {
    
	display: block;
    clear: left;
    width: 600px;
    /*position: fixed;*/
    float: left;
    margin-left: 6%;
    margin-right: 6%;
}

h1 {
    font-size: 60px;
    font-family: Impact;
}

/*footer {
    display: inline-block;
    float: left;
	font-style: italic;
	font-size: 90%;
}*/

/** {
    border: 1px dashed blue;
}*/